<div class="jumbotron" style="margin-top: 20px; margin-left: 5%; width:90%;">
  <form class="form-horizontal" role="form" id="ChangePasswordForm" name="ChangePasswordForm"
        ng-submit="ChangePassword(Model)" novalidate>
    <div class="row" style="color: red;" ng-show="!!Model.errors.length">
      <ul>
        <li ng-repeat="error in Model.errors">
          {{error}}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="password" class="control-label">Password</label><br/>
        <input type="password" class="form-control" id="password" name="password" ng-model="Model.password"
               ng-minlength=3 ng-focus>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="newpassword" class="control-label">New Password</label><br/>
        <input type="password" class="form-control" id="newpassword" name="new password" ng-model="Model.newpassword"
               ng-minlength=3 ng-focus>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="confirmnewpassword" class="control-label">Confirm New Password</label><br/>
        <input type="password" class="form-control" id="confirmnewpassword" name="confirm new password" ng-model="Model.confirmnewpassword"
               ng-minlength=3 ng-focus>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button  ng-disabled="saving" type="submit" class="btn btn-success">Change Password</button>
        <a ng-click="Cancel()" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
</div>
