<div class="text-center cpHeader" style="padding:1em 0em; height:85px;">
  <div style="position: absolute; left: 5px; top: 5px;">
    <a ui-sref="index.settings"><i style="font-size:1.6em; padding:1em; line-height:2.5em" class="fa fa-cog fa-lg fa-fw fa-inverse"></i></a>
  </div>
  <div class="white-text ce-title" style="margin-top: 1.7em; font-size: 1.4em; font-weight:900;" ng-bind="title"></div>
  <div style="position: absolute; right: 20px; top: 5px;">
    <i ng-show="busy" style="color: #00ffa7;" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw fa-inverse"></i>
    <a ui-sref="index" padding='10px'><i style="font-size:1.6em; padding:1em; line-height:2.5em" class="fa fa-home fa-lg fa-fw fa-inverse"></i></a>
  </div>
</div>
<modal width='100%' ></modal>
