<div style=" background-color: #ffffff; padding-left: 10px; padding-right:10px; margin-top: 20px; margin-left: 5px; margin-right: 5px; width:auto; ">
  <form novalidate >
    <input type="hidden" value="Model.version">
    <div class="row" style="color: red;" ng-show="!!Model.errors.length">
      <ul>
        <li ng-repeat="error in Model.errors">
          {{error}}
        </li>
      </ul>
    </div>
    <div class="row" ng-show="canEdit">
      <div class="col-xs-12">
        Name<br />
        <input class="form-control" type="text" ng-model="Model.name" placeholder="name">
      </div>
    </div>
    <div class="row" ng-hide="canEdit">
      <div class="col-xs-12">
        {{Model.name}}
      </div>
    </div>
    <div class="row">
      <div class="input-group" style="margin-right: 15px; margin-left: 15px;">
        <input type="text" class="form-control" placeholder="new team member" ng-model="email">
        <a class="btn btn-success input-group-addon" ng-click="NewMember(email)">New Member</a>
      </div>
    </div>
     <div class="row" ng-hide="showMembers" >
      <div class="col-xs-12" >
        <a class="btn btn-left btn-primary btn-sm" style="width: 100%;" ng-click="showMembers = !showMembers"><i
          style="margin-top: 3px;" class="pull-left fa fa-plus-circle"></i> Members ({{Model.members.length}})</a>
      </div>
    </div>
    <div class="row" ng-show="showMembers">
      <div class="col-xs-12" >
        <a class="btn btn-left btn-warning btn-sm" style="width: 100%;" ng-click="showMembers = !showMembers"><i
          style="margin-top: 3px;" class="pull-left fa fa-minus-circle"></i> Members ({{Model.members.length}})</a>
      </div>
    </div>
    <div class="row" ng-show="showMembers" ng-repeat="member in Model.members">
      <div class="col-xs-12" ng-show="member.visible">
        <button ng-disabled="!member.canDelete" type="button" class="btn btn-danger" ng-click="RemoveMember(member, $index)"><i class="fa fa-trash"></i> </button>
        <label>{{member.email}}</label>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12" style="text-align: center; margin-bottom: 10px;">
        <button ng-disabled="saving"  type="submit" class="btn btn-success" ng-click="Save(Model)">Save</button>
        <a ng-click="Cancel()" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
</div>
