<div style="width: 250px; margin-top: 15px; margin-left: auto; margin-right: auto;">
    <div class="input-group">
        <input type="text" class="form-control search-box shadow" placeholder="search" ng-model="search">
      <!--
        <a class="btn btn-success input-group-addon" ui-sref="index.newcontract({projectid:projectid})">New</a>
        -->
    </div>
</div>
<div class="row" ng-show="errors.length > 0">
  <ul>
    <li ng-repeat="error in errors">
      {{error}}
    </li>
  </ul>
</div>
<div style="margin-top: 15px; width:100%; color: black;">
    <table style="background-color: white;" width="100%">
      <thead>
      <tr style="border-bottom: 1px solid gray;">
        <th>&nbsp;&nbsp;&nbsp;<a class="blueish" ng-click="predicate = 'lastname'; reverse=!reverse">Customer</a></th>
        <th><a class="blueish" ng-click="predicate = 'displayDate'; reverse=!reverse">{{datename}}</a></th>
        <th><a class="blueish" ng-click="predicate = 'cost'; reverse=!reverse">$</a></th>
      </tr>
      </thead>
      <tbody style="border-bottom: 1px solid black; padding-bottom: 10px; margin-bottom: 10px;">
      <tr ui-sref="index.project({leadid: project.leadid, projectid : project.id})" class="space2" style="cursor: pointer; vertical-align: top;"
          ng-class-odd="'cpOddRow'" ng-class-even="'cpEvenRow'"
          ng-repeat="contract in Model  | orderBy:predicate:reverse | filter:search:strict"

        >
        <td>
          <span ng-if="project.hasnames">&nbsp;&nbsp;{{project.firstname}} {{project.lastname}}</span>
          <span ng-if="project.company"><br ng-if="project.hasnames" />&nbsp;&nbsp;{{project.company}}</span>
        </td>
        <td><span ng-if="project.hasdate">{{project.date | date:"MM/dd/yyyy"}}</span></td>
        <td>{{project.cost | currency}}<br />{{project.area}} sq/ft</td>
      </tr>
      </tbody>
    </table>
  </div>
