<div class="text-center cpHeader">
  <div style="position: absolute; left: 5px; top: 5px;">
    <a ui-sref="index.settings"><i class="fa fa-cog fa-lg fa-fw fa-inverse"></i></a>
  </div>
  <div class="white-text" style="margin-top: 5px; font-size: large;" ng-bind="title"></div>
  <div style="position: absolute; right: 5px; top: 5px;">
    <i ng-show="busy" style="color: #00ffa7;" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw fa-inverse"></i>
    <a ui-sref="index"><i class="fa fa-home fa-lg fa-fw fa-inverse"></i></a>
  </div>
</div>
<modal width='100%' ></modal>
